<head dataNode-th-fragment="baseHeader(title,link)">
    <meta charset="UTF-8">
    <link rel="stylesheet" dataNode-th-href="@{/webjars/bootstrap/5.1.4/css/bootstrap.min.css}" />
    <link rel="stylesheet" dataNode-th-href="@{/webjars/font-awesome/5.15.4/css/all.min.css}" />
    <link rel="stylesheet" dataNode-th-href="@{/css/style.css}" />
    <script dataNode-th-src="@{/webjars/font-awesome/5.15.3/js/all.min.js}"></script>
    <!--script dataNode-th-src="@{/webjars/popper.js/2.9.2/cjs/popper.js}"></script-->
    <script dataNode-th-src="@{/webjars/bootstrap/5.1.4/js/bootstrap.min.js}"></script>
    <!--script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script-->
    <script dataNode-th-src="@{/js/script.js}"></script>
    <title dataNode-th-replace="${title}">title</title>
</head>